# **Sistem Rekomendasi**: Rekomendasi Tempat Wisata di Jawa Timur dengan *Content-based Filtering*
---
##### Oleh : Samuel Partogi Pakpahan dan Farin Istighfarizky
##### Capstone Project - Studi Independen Bersertifikat x Dicoding

# ***Business Understanding***

Sistem ini digunakan untuk untuk membantu dalam pengambilan keputusan dalam memilih tempat wisata yang ingin dikunjungi. Sistem rekomendasi tempat wisata ini akan dimodelkan dengan metode *Content-based Filtering* yaitu berdasarkan review pengunjung sebelumnya

# **Pendahuluan**

Provinsi Jawa Timur memiliki banyak sekali tempat wisata, keindahan alam, lokasi dan kondisi udara yang sangat baik, sehingga banyak dikunjungi oleh wisatawan lokal maupun mancanegara. Semakin meningkatnya potensi wisata, sebagai seorang konsumen tentu akan mengalami keragu-raguan untuk memilih tempat yang akan dikunjungi serta keterbatasan waktu berkunjung membuat wisatawan tidak mungkin mencoba semua tempat wisata satu per satu. Oleh karena itu, untuk memudahkan dan membantu pengambilan keputusan, maka diciptakannya sistem rekomendasi destinasi wisata yang akan dikunjungi, khususnya di provinsi Jawa Timur.

# ***Problem Statement***

# ***Research Questions***

## ***Data Understanding***

Mengimpor library yang dibutuhkan

In [ ]:
# Untuk pengolahan data
import pandas as pd
import numpy as np
import keras
import nltk
import seaborn as sns
from keras import layers 
from sklearn.preprocessing import MultiLabelBinarizer
from sklearn.feature_extraction.text import TfidfVectorizer
from collections import defaultdict
import matplotlib.pyplot as plt

import tensorflow as tf
from keras.models import Model
from tensorflow.keras.optimizers import Adam
from keras.layers import Add, Activation, Lambda, BatchNormalization, Concatenate, Dropout, Input, Embedding, Dot, Reshape, Dense, Flatten
import matplotlib.pyplot as plt
from tensorflow.keras.callbacks import Callback, ModelCheckpoint, LearningRateScheduler, TensorBoard, EarlyStopping, ReduceLROnPlateau

Memuat Data pada sebuah Dataframe menggunakan *pandas*

In [4]:
# Memuat data pada dataframe di setiap variable
wisata = pd.read_excel("InfoWisata.xlsx")
rating = pd.read_excel("Reviewer.xlsx")

In [5]:
wisata.head()

   Unnamed: 0    Category           Name          City       Price
0         NaN      Gunung          Arjuna       Malang  Rp. 11.000
1         NaN      Pantai   Batu bengkung       Malang  Rp. 10.000
2         NaN  Air Terjun     Coban Rondo        Batu   Rp. 30.000
3         NaN      Gunung           Bromo  Probolinggo  Rp. 34.000
4         NaN      Gunung            Ijen   Banyuwangi   Rp. 7.500

In [6]:
rating.head()

    Category   ...                                             Review
0      Gunung  ...  "jalurnya sangat mendamaikan, dengan pohon-poh...
1     Pantai   ...  "Pantai Batu Bengkung terletak di Kabupaten Ma...
2  Air Terjun  ...  "Tempat menarik. Akses mudah, tempat menarik, ...
3     Gunung   ...  "Gunung yg paling mudah didaki yaa gunung brom...
4     Gunung   ...  "Akses mendaki cukup mudah, parkir cukup luas,...

[5 rows x 5 columns]

In [7]:
rating.describe()

           Rating
count  100.000000
mean     4.328000
std      0.287827
min      3.500000
25%      4.100000
50%      4.400000
75%      4.500000
max      5.000000

# ***Data Preprocessing***

Menggabungkan Data Tempat Wisata dengan Data Rating

In [17]:
pd.concat([wisata,rating], axis=1)

      Category   ...                                             Review
0       Gunung   ...  "jalurnya sangat mendamaikan, dengan pohon-poh...
1       Pantai   ...  "Pantai Batu Bengkung terletak di Kabupaten Ma...
2   Air Terjun   ...  "Tempat menarik. Akses mudah, tempat menarik, ...
3       Gunung   ...  "Gunung yg paling mudah didaki yaa gunung brom...
4       Gunung   ...  "Akses mendaki cukup mudah, parkir cukup luas,...
..          ...  ...                                                ...
95       Museum  ...  "Sangat bagus untuk anak-anak, karena memiliki...
96      Gunung   ...  "Bagus sih tapi ati ati lho kalau kesana soaln...
97       Museum  ...  "Anda TIDAK DAPAT mengambil foto dari setiap o...
98   Air Terjun  ...  "Ini adalah tempat yang asyik untuk dijelajahi...
99       Museum  ...  "Berlokasi di Malang. Tidak ada tiket masuk, t...

[100 rows x 9 columns]

# **Persiapan Data** ***(Data Preparation)*** **dan Visualisasi Data**