# **Sistem Rekomendasi**: Rekomendasi Tempat Wisata di Jawa Timur dengan Content-based Filtering
---
##### Oleh : Samuel Partogi Pakpahan dan Farin Istighfarizky
##### Capstone Project - Studi Independen Bersertifikat x Dicoding

# **Pendahuluan**

Pada proyek ini akan dibuat sistem rekomendasi tempat wisata di Jawa Timur menggunakan *content-based filtering*. Untuk memudahkan navigasi gunakan menu *Table of Contents* di kanan atas Google Colaboratory.

# **1. Mengimpor library yang dibutuhkan**

In [ ]:
# Untuk pengolahan data
import pandas as pd
import numpy as np

# **2. Mempersiapkan Dataset dan Pemahaman Data** ***(Data Understanding)***

![Sampul Dataset](https://raw.githubusercontent.com/samuelpakpahan20/Capstone-SIB2021/master/images/sampul.PNG)

Informasi Dataset :

Jenis | Keterangan
--- | ---
Sumber | [Kaggle Dataset : Info Tempat Wisata](https://www.kaggle.com/azharianisah/infotempatwisata)
Lisensi | CC0: Public Domain
Rating Penggunaan | 0.0
Jenis dan Ukuran Berkas | zip (46 kB)

## Memuat Data pada sebuah Dataframe menggunakan *pandas*

In [ ]:
# Memuat data pada dataframe di setiap variable
wisata = pd.read_excel("InfoWisata.xlsx")
rating = pd.read_excel("Reviewer.xlsx")

In [ ]:
wisata.head()

   Unnamed: 0    Category           Name          City       Price
0         NaN      Gunung          Arjuna       Malang  Rp. 11.000
1         NaN      Pantai   Batu bengkung       Malang  Rp. 10.000
2         NaN  Air Terjun     Coban Rondo        Batu   Rp. 30.000
3         NaN      Gunung           Bromo  Probolinggo  Rp. 34.000
4         NaN      Gunung            Ijen   Banyuwangi   Rp. 7.500

In [ ]:
rating.head()

    Category   ...                                             Review
0      Gunung  ...  "jalurnya sangat mendamaikan, dengan pohon-poh...
1     Pantai   ...  "Pantai Batu Bengkung terletak di Kabupaten Ma...
2  Air Terjun  ...  "Tempat menarik. Akses mudah, tempat menarik, ...
3     Gunung   ...  "Gunung yg paling mudah didaki yaa gunung brom...
4     Gunung   ...  "Akses mendaki cukup mudah, parkir cukup luas,...

[5 rows x 5 columns]

In [ ]:
rating.describe()

           Rating
count  100.000000
mean     4.328000
std      0.287827
min      3.500000
25%      4.100000
50%      4.400000
75%      4.500000
max      5.000000

# **3. Data Preprocessing**

## Menggabungkan Data Tempat Wisata dengan Data Rating

# **4. Persiapan Data** ***(Data Preparation)*** **dan Visualisasi Data**